.checkout-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .form-container, .product_table{
    margin: 5px;
    border: 1px solid #ced4da;
    padding: 15px 10px;
  }
  .form-container{
    border-radius: 10px;
  }
  .product_table{
   
  }


}
